.page-1 {
    height: calc(100vh - 80px);
    padding: 10vh 10vw;
}

.page-2 {
    height: 100vh;
    padding: 10vh 10vw;
}

.page-3 {
    height: 100vh;
    padding: 10vh 10vw;
}

.page-4 {
    height: 100vh;
    padding: 10vh 10vw;
}

.page-5 {
    height: calc(100vh - 60px);;
    padding: 10vh 10vw;
}

.brand {
    font-size: 72px;
}

.container-fluid {
    min-height: calc(100vh - 130px) !important;
}

.intro-card {
    padding: 10vw;
}