@media only screen and (min-width: 900px) {
  .map-overlay {
    font: 12px / 20px 'Helvetica Neue', Arial, Helvetica, sansSerif;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 25vw;
    /* height: 95vh; */
    top: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .map-overlay {
    font: 12px / 20px 'Helvetica Neue', Arial, Helvetica, sansSerif;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 60vw;
    /* height: 95vh; */
    top: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 600px) {
  .map-overlay {
    font: 12px / 20px 'Helvetica Neue', Arial, Helvetica, sansSerif;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 80vw;
    /* height: 95vh; */
    top: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 99;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.browse-button {
    color: #088;
}

.browse-button:hover {
    color: #006666;
}

ul .nav {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

.control-btns {
  top: 10px;
  left: 10px;
  position: relative;
  z-index: 1;
}

.tripelf-map-title {
  font-size: 24px;
}

.section-title {
  font-size: 20px;
}

.new-york-title {
  font-size: 16px;
}

.nbh-title {
  font-size: 18px;
}

.nbhgrp-title {
  font-size: 16px;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  font: 12px / 20px 'Helvetica Neue', Arial, Helvetica, sansSerif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend-title {
    margin: 0 0 10px;
    font-size: 14px;
}

.nav-pills > li > a.active {
  background-color: rgb(85, 85, 92) !important;
  color: #ffffff !important;
}

.nav-pills > li > a.active:hover {
  background-color: rgb(85, 85, 92) !important;
  color: #ffffff !important;
}

.nav-pills > li > a:hover {
  background-color: rgb(240, 240, 240) !important;
  color: black !important;
}

.nav-pills > li > a {
  color: rgb(90, 90, 90) !important;
  font-size: 14px;
}

.nav-tabs > li > a.active {
  background-color: rgb(250, 250, 250) !important;
  color: black !important;
}

.nav-tabs > li > a.active:hover {
  background-color: rgb(250, 250, 250) !important;
  color: black !important;
}

.nav-tabs > li > a:hover {
  background-color: rgb(240, 240, 240) !important;
  color: black !important;
}

.nav-tabs > li > a {
  color: rgb(90, 90, 90) !important;
  font-size: 14px;
}

#tabs-tabContent .tab-pane {
    border-top: 0;
    width:100%;
    height:100%;
    background-color:rgb(250, 250, 250);
    padding:5px;
}
